/*----------------------------------------------------
	 9. Happy Students
------------------------------------------------------*/

#testimonial.section_gap {
	padding-bottom:60px;
}
.imageSlide {
	text-align: center;
	padding-bottom:60px;
}
.imageBox {
	background-color: #00aeda;
	width: 98px;
	height: 98px;
	overflow: hidden;
	display: inline-block;
	margin-left: 6px;
	margin-right: 6px;
	vertical-align: top;
	margin-bottom: 13px;
	opacity: 1;
}
.imageBox.activeImage {
	opacity: 1;
	position: relative;
}
.imageBox.activeImage:hover img,
.imageBox.activeImage img{
	opacity:0.2;
}
.imageBox.activeImage:after {
	content: "";
	width: 27px;
	height: 23px;
	background: url(../images/testi-hover.png) no-repeat 0 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -11px 0 0 -13px;
}
.footerTopContent {
	margin-top: 65px;
	text-align: center;
	position: relative;
}
.quote {
	display:block;
	width:31px;
	height:26px;
	position:absolute;
	top:-65px;
	left:0;
	right:0;
	margin:0 auto;
}
.quote i {
	font-size:32px;
}
.footerTopContent li {
	display: block;
	width: 100%;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	transition: all .2s ease-out;
}
.footerTopContent li.activeTest {
	opacity: 1;
}
.footerTopContent p {
	font-size: 16px;
	line-height: 24px;
	color: #8c9099;
	margin-bottom: 25px;
}